@import url("https://fonts.googleapis.com/css?family=Staatliches&display=swap");
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: classico-urw, sans-serif;
    color: white;
    background-color: #000;
    overflow-x: hidden;
}


header {

    grid-area: header;
    z-index: -1;

}



.mySlides {
    display: none;
    margin-top: 50px;
    position: relative;



}

.mySlides img {
    width: 100vw;
    height: 70vh;
    object-fit: cover;
}

li {
    list-style: none;
}


.topnav {
    background-color: #000;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;

    flex: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;


}

.topnav a {
    color: #bb9a46;
    text-align: center;
    font-family: "Staatliches";
    padding: 25px 25px;
    text-decoration: none;
    font-size: 2em;
    transition: all .5s;
}

.topnav > img {
    height: 90px;
    width: auto;
    position: absolute;
    left: 0;
}

.title {
    font-weight: 700;
}

.topnav a:hover {

    text-decoration: underline;
    text-decoration-color: white;
    text-underline-position: under;
    color: #3ca2db;

}

.topnav .icon {
    display: none;
}

a {
    color: white;
    text-decoration: none;

}

aside a:hover {
    text-decoration: underline;

}

.topnav a.active {
    text-decoration: underline;
    text-decoration-color: #e3331e;
    text-underline-position: under;
}

main {


    margin: auto;
    justify-content: center;
    justify-items: center;
    font-size: 18px;

}

.title {
    grid-area: title;
}

.main {
    grid-area: main2;
    padding-top: 20px;
    line-height: 1.2;
}

.maincontent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
    justify-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: none;
    box-shadow: inset 0px 0px 40px 10px rgba(0, 0, 0, 1);
    padding: 1rem;
}

.reviews-container {
    margin-top: 5rem;
    padding: 0.5rem;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px 0px 40px 10px rgba(0, 0, 0, 1);
}

.genres {
    margin-top: 6rem;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: center;
    margin: auto;

}


.anim {
    background: transparent;
    outline: none;
    border: 1px solid white;
    padding: 2rem 4rem;
    margin: 2rem;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: all .5s;
}

h1 {
    color: #3ca2db;
    text-transform: uppercase;
    font-family: "Staatliches", sans-serif;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    font-weight: 500;
}

.anim:hover {
    box-shadow: 0px 0px 20px 10px;
    color: #bb9a46;
    cursor: pointer;
    background: #006295;

}

.anim:hover h1 {
    color: #bb9a46;
}

.bdescription,
.bdescription:hover {
    font-family: "Montserrat", sans-serif;

    font-size: 1.5rem;
    color: white;
}



.bottom-left {
    font-family: "Montserrat", sans-serif;
    font-size: 2.2rem;
    line-height: 1.2;
    color: #ffffff;

    position: absolute;
    bottom: 30%;
    left: 5%;

    text-shadow:
        3px 3px 20px #000,
        -1px -1px 10px #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;

}

.textwidth {
    text-overflow: ellipsis;
    max-width: 20ch;
}

.top {

    display: inline-block;
    padding: 1rem 1.5rem;
    border: 1px white solid;
    font-family: "Staatliches", sans-serif;
    font-size: 2rem;
    margin: 2rem 0 0 18rem;
    color: white;
    background: transparent;
    overflow: hidden;
    transition: all .5s;
    position: relative;

}

.top:hover {
    box-shadow: 0px 0px 20px 10px #e3331e;
    text-shadow: 0px 0px 12px #bb9a46;
}

.aboutus {
    padding: 2rem;
    width: 60%;


}

.reviews {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));


}

.review {
    padding: 1rem;
}



aside {
    display: none;
    grid-area: aside;
    background-color: #000000;
    z-index: 2;
    padding: 0.5rem;


}

.sidebar {
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 50px;
    margin: auto;
}

h2 {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 20px;
    margin: auto;
}

.sidelink {
    padding-left: 40%;
    font-size: 20px;
    font-family: 'manropesemibold';
}

.side {
    margin: 10px;
    padding: 15%;
    background-color: #000000;
}



h3 {
    font-family: 'Staatliches', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 1.7rem;
    color: #bb9a46;
}


p {
    font-weight: 700;
}

p span {
    font-weight: 400;
}

.imgcircle {
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 50%;
    max-width: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: white;

}

.vector {
    margin: auto;
    display: flex;
    max-width: 100px;
    justify-content: center;
}

aside a {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 20px;
    margin: auto;
}

.footer {
    background-color: #fff;
    display: grid;
    color: black;
    width: 100vw;
    padding: 1rem;

}

.footer h3 {
    font-size: 2.5rem;
    line-height: 0.1;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.columns {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: auto;
    grid-auto-flow: column;
}

.column {
    padding: 1rem;
}

ul {
    margin: 0;
    padding: 0;

}

.column ul li,
.column ul li a {
    padding: 0.6rem;
    text-decoration: underline;
    list-style: circle;
    color: black;
    font-size: 1.2rem;
}

.column ul li:hover,
.column ul li a:hover {
    color: #af251b;
}



@media only screen and (max-width: 700px) {

    .anim {
        padding: 1rem 3rem;
        margin: 2rem;

    }


    .columns {

        grid-auto-flow: row;
    }

    .column {
        display: grid;
        padding: 1rem 0;
        grid-template-columns: repeat(auto-fill);
        grid-auto-flow: column;
        width: 95%;
        justify-items: center;

    }


    .topnav a {
        color: #bb9a46;
        text-align: center;
        font-family: "Staatliches";
        padding: 15px 15px;
        text-decoration: none;
        font-size: 2em;
        transition: all .5s;
    }

    .topnav > img {
        height: 70px;
        width: auto;
        position: absolute;
        left: 0;
    }

    h1 {
        font-size: 2rem;
    }

    .bottom-left {
        font-size: 2rem;
        bottom: 30%;
    }

    .main {
        width: 100vw;
    }


    .top {

        font-size: 2rem;
        margin: 2rem 0 0 13rem;


    }

    .topnav {
        width: 100%;
        flex-direction: column;

    }

    .topnav a {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .buttons {

        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));


    }
}

.topnav.responsive {
    position: fixed;
    top: 0;
}

.topnav.responsive a.icon {
    position: absolute;
    top: 0;
}

.topnav.responsive a {
    float: none;
    display: block;
    text-align: right;
}

main {
    margin-bottom: 0;

}

.side {
    margin-top: 0;
}


@media screen and (max-width: 500px) {

    .bottom-left {
        font-size: 1.5rem;
        bottom: 30%;
    }

    .bdescription {
        font-size: 1rem;
    }


    .top {

        font-size: 1.7rem;
        margin: 2rem 0 0 9rem;


    }



}

@media screen and (max-width: 400px) {

    .bottom-left {
        font-size: 1.5rem;
        bottom: 20%;
        left: 10%;
    }



    .top {

        font-size: 1.7rem;
        margin: 2rem 0 0 5rem;


    }

    .textwidth {
        text-overflow: ellipsis;
        max-width: 15ch;
    }

    .aboutus {
        width: 50%;
    }



}
